body{
    background: #f9f9f9;
        font-family: 'Playfair Display',serif;

}
.headernav,.headernav .row{
	width: 100%;
	    transition: 0.5s;

}
.headernav_mobile .navbar-toggler {
    float: right;
    margin-top: 15px;
}
.headernav_mobile{
display: none;
}
nav{
	    width: 100%;
    height: 70px;
    display: table;
    position: relative;
    font-family: Poppins,sans-serif;
    font-size: 14px;

}
.nav-brand {
    font-size: 24px;
    margin-right: 1rem;
    padding-left: 0;
    text-decoration: none!important;
}
.nav-brand .logo {
    max-width: 160px;
    position: relative;
    top: 4px;
	padding: 5px;
}
nav .navbar-toggler{
	display: none;
	font-size: 25px;
	padding: 10px 15px;
}

.nav{
    float: right;
	font-size: 17px;
	padding-top: 10px;
}
.navbar-collapse li >a{
   width: 100%;
    padding: 14px 10px 14px 10px;
    display: inline-block;
    float: left;
    color: #70798b;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
	text-transform: capitalize;
    font-size: 15px;
}



.navbar-collapse li .dd-input:checked + .dd-menu {
  display: block;
  box-shadow: 0px 0px 20px #0000007d;
} 

.navbar-collapse li .dd-menu li {
      padding: 17px 15px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;
    text-align: left;
    width: 170px;
}

.navbar-collapse li .dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.navbar-collapse li .dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc87;
  box-shadow: 0px 0px 12px #00000017;
}


.navbar-expand-md .navbar-nav .dropdown-menu {
  position: absolute;
    top: 47px;
    padding: 10px;
}
.navbar-collapse li >a:hover{
    color: #ffc107;
    background: transparent;

}
.dropdown-item{
  padding: 5px 0px;
}
.navbar,.headernav_mobile{
	    position: fixed;
    width: 100%;
    z-index: 999;
    background: white;
	box-shadow: 0px 0px 2px;
    border-radius: 0px;
	z-index: 999;
	height: auto;
}
.navbar .container{
	    padding-bottom: 10px;
}

.headernav_mobile .nav>li {
    border-bottom: 1px solid #aaa;
    box-shadow: 0px 0px 4px #aaa;
}

.headernav_mobile .nav.ul_list{
    float: none;
    width: 100%;
    margin: auto;
}
.headernav_mobile .nav.ul_sign{
    float: none;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
.headernav_mobile .navbar-toggler{
   font-size: 20px;
   margin-top: 25px;
}
.headernav_mobile .nav.ul_sign .light a:hover,
.headernav_mobile .nav.ul_sign .theme-bg a:hover{

  background-color: transparent;
}
.headernav_mobile .collapse{
   margin-top: 20px;
}
.nav.ul_sign .theme-bg,.headernav_mobile .nav.ul_sign .light
{
    margin: 0px;
}
.nav.ul_list{float: left} 
.nav.ul_sign{float: right} 
.nav.ul_sign .theme-bg,.nav.ul_sign .light{
    border-radius: 4px;
    position: relative;
    padding: 0 5px;
    margin-left: 10px;
    background: #131b31;
    border: 1px solid #131b31;   
}
.nav.ul_sign .light{
    background: white;
    height: 42px;
    transition: all ease .4s;
    background: #fff;
    border: 1px solid rgba(100,123,156,.3)!important;
    padding: 0px 8px;
}
.nav.ul_sign .theme-bg a{
color: white;
    padding: 10px 15px;
    height: 40px;
    margin-top: 0px;

}
.nav.ul_sign .light a{
  color: #ff9800;    
    padding: 10px 15px;

}
.nav.ul_sign .light:hover{
    background: #ff9800;
    border: 0px;
}
.nav.ul_sign .light:hover a{
  color: white;    

}

.headernav_mobile .nav.ul_sign .theme-bg,
.headernav_mobile .nav.ul_sign .light
{
    margin: 0px;
}
.dropdown button{
        padding: 10px 15px;
    margin-left: 10px;
}
.dropdown button:hover,
.dropdown button:focus{
    background-color: white
}
/****************header*****/
header{
	height: auto;
    padding: 0;
	position: relative;
}

header .carousel-inner .carousel-item .word{
    position: absolute;
    z-index: 99;
    top: 30%;
    width: 70%;
    left: 11%;
    color: white;
}
header .carousel-inner .carousel-item {
	    height: 100%;
	    padding: 0px;

}

header .carousel-inner .carousel-item .word h2{
        font-size: 55px;
    line-height: 1.2;
}
header .carousel-inner .carousel-item .word p{
    font-size: 15px;
    width: 60%;
    margin: 0 0 10px;
    line-height: 1.8;  
}
header .carousel-inner img{
	height: 100%;
}
header .carousel-inner .carousel-item .word button{
   background: #f8951d;
    font-size: 19px;
    margin-top: 30px;
    border-radius: 28px;
    background: rgba(218,11,78,.1);
    transition: all ease .4s;
    border-radius: 6px;
    height: 54px;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    background: #f8951d;
    color: #fff;
}
header .carousel-inner .carousel-item .word button:hover{
	color: #f8951d;
    background:white;
}
header .carousel-inner .carousel-item .word button:hover i{
    color:white;
    background:#f8951d;
}
header .carousel-inner .carousel-item .word button i{
    vertical-align: middle;
    background: #fff;
    color: #f8951d;
    padding: 5px;
    margin-left: 15px;
    border-radius: 3px;

}
.carousel-control-prev,.carousel-control-next{
	    opacity: 1;
    width: 50px;
    height: 50px;
    top: 40%;
    background: #ffc1074a;
    border-radius: 100%;
    left: 4%;
    border: 2px solid #ffffffad;
}
.carousel-control-next{
	right: 4%;
	left: auto;
}
.services .classes_bottom{     
    width: 100%;
    background: #f8951d;
    margin: auto;
    border-radius: 15px;
    margin-top: -60px;
    padding: 0px;
	margin-bottom: 50px;
}
.services .classes_bottom p{    
    font-size: 15px;
    vertical-align: middle;
    text-align: left;    
    color: #0000008f;

}
.services .classes_bottom .classp{
    margin: 0px;
    text-align: right;
    padding: 0px;
    padding-left: 5px;

}
.services .classes_bottom .classp span{
        display: block;
    font-size: 16;
    font-weight: 700;
    padding-bottom: 8;
}
.services .classes_bottom img{
	
	width: 60px;
    height: 60px;
    object-fit: contain;
}
header .carousel-inner  .col-md-4{
	padding: 5px;    
}
header .carousel-inner .classess,header .carousel-inner .col-md-12{	display: inline-flex;

}
.services .classes_bottom .classes_bottom_center,
.services .classes_bottom .classess{
    padding: 20px 0px;
    text-align: center;   

}

.services .classes_bottom_center{
   background: #f18401;
}
#carouselExampleControls{
   height: 600px;
}
#carouselExampleControls .lig_out{
	    position: absolute;
    width: 100%;
    top: 0px;
    height: 100%;
    background: #3a446085;
}
/*************start section courses****************/
.courses,.instructors{
	    text-align: center;
	   margin-bottom:50px;
}
.courses h2 span,
.classes h2 span,
.instructors h2 span,
.courses_page h1 span{
    color: #f8951d;
}
.courses .top_hr,
.instructors .top_hr{
    width: 13%;
    border: 1.5px solid #f8951d;
}
.courses .Sections,
.instructors .Sections{
	    width: 50%;
    margin: auto;
	cursor: pointer;
}
.courses .Sections{
	margin-bottom: 40px;
}
.courses .Sections div,
.instructors .Sections div{
	position: relative;
    width: 180px;
    height: 170px;
	text-transform: capitalize;
}
.courses .Sections img,
.instructors .Sections img{
	    width: 100px;
    object-fit: contain;
    height: 100px;
}
.courses .Sections .div_in_sections{
	position: absolute;
	z-index: 999;  
	padding-top: 20px; 
    padding: 0px;
    height: 100%;
    padding-top: 20px;
    object-fit: contain;
	top: 0px;
	left: 0px;
	z-index: 99;    
    transition: all ease .4s;

}
.courses .Sections .background{
	position: absolute;
	width: 180px;
    object-fit: contain;
    height: 180px;
	top: 0px;
	left: 0px;
}
.courses .Sections .background:hover{
	display: none;
}
.courses .Sections div:hover{
	background: #f8951d;
}
.courses .Sections .div_in_sections:hover{
}
.courses .Sections p{
	    color: #00000085;
}
.courses .parts_sections >div{
    border-radius: 5px;
    padding: 8px;
}
.courses .row_bottom >div .pragraph,
.courses_page .row_bottom  >div .pragraph{
    margin: 0px;
    padding: 0pc;
    padding: 1px 10px;
position: relative;}

.courses .row_bottom .img_course,
.courses_page .row_bottom .img_course
{
	    width: 100%;
    height: 250px;
}


.courses .row_bottom >div .pragraph h4,
.courses_page .row_bottom >div .pragraph h4

{
	    font-weight: bold;
	
}
.courses .parts_sections >div .pragraph .p1{
	    color: #aaa;
}
.courses .parts_sections >div .pragraph .p2{
	    color: #f8951d;font-weight: bold;
}
.courses .parts_sections >div .pragraph .p3{
    position: absolute;
    bottom: -10px;
    right: 0px;
    background: #f8951d;
    padding: 10px;
    font-size: 20px;
    color: white;   
	border-bottom-right-radius: 10px;  


}
.courses .parts_sections >div .pragraph .p3 span{
	vertical-align: sub;    
	font-size: 11px;

	
}
.courses .row_bottom .part,
.courses_page .row_bottom .part{
    text-align: left;
	border: 1px solid #aaaaaa59;
    background: white;     
    transition: all ease .4s;

}

.courses .row_bottom .part:hover ,
.courses_page .row_bottom .part:hover,
.classes  .part:hover{

    box-shadow: 1px 1px 7px;
}
.courses  .View_all,.classes  .View_all,.courses_page .row_bottom button{
	background: #f8951d;
    color: white;
    font-size: 22px;
    padding: 10px 50px;
    margin-top: 50px;
    border-radius: 10px;
}
.courses button:hover,.classes button:hover{
		color: #37648c;
	}
.pagination{
	
}
.pagination li{
	    font-size: 20px;
}
.slick-slide{
    margin-bottom: 50px;
}
.slick-slide img{
    width: auto;          
    margin: auto;
     }
.slick-slide .background{
   width: 100%;
   height: 180px;
}
.slick-initialized .slick-slide{
     position: relative;

}
.slick-slide  .div_in_sections{
              width: 100%;
    position: absolute;
    z-index: 999;
    padding-top: 20px;
    padding: 0px;
    height: auto;
    padding-top: 20px;
    object-fit: contain;
    top: 0px;
    left: 0px;
    z-index: 99;
    transition: all ease .4s;
    padding-bottom: 15px;
}
.slick-slide .div_in_sections:hover{
 background: #f8951d
}
.slick-slide .div_in_sections img{
margin-bottom: 10px;
    width: 100px;
    height: 100px;
    object-fit: contain;}

.slick-list{
    width: 50%;
    margin: auto;
}
.slick-prev{
   left: 15%;  
 }
.slick-prev:before{   
   content: '‹';
}
.slick-next{
    right: 15%;
}
.slick-next:before{
   content: '›';
}
.slick-prev:before, .slick-next:before{    
    color: white;
    font-size: 31px;
    font-weight: bold;
    background: #f18401;
    border-radius: 100%;
    padding: 0px 15px 5px;
}
.slick-prev:before:hover, .slick-next:before:hover{  

    background: white;
    color: #f18401;
}  

.slick-prev, .slick-next{
        top: 35%;
        z-index: 99;
}
.holder {
	height: auto
}
/**********************start counter*******************/
.counter{
	background: url(../images/background1.jpg) no-repeat center center fixed;
    background-size: cover;
}
.counter .div_counter,
.testing .div_counter,
footer .background_footer{
	padding: 70px 0px;
    background: #3a4460cf;
}
footer .background_footer{
 padding: 0px;
	padding-top: 50px;
}
.counter .div_counter .row,
.testing .div_counter .row{
       width: 70%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 29px;
	text-transform: capitalize;
}

.counter .div_counter .row h4{
	font-size: 25px;
}
.counter .div_counter .row h4,.counter .div_counter .row p{
	margin-bottom: 0px;
	}

.counter .div_counter .row hr,
{
    width: 20%;
    border: 2px solid #f8951d;
	margin-top: 0px;
}
/**********************start classes*******************/
.classes{
	margin: 50px 0px;
	text-align: center;   
	width: 100%;
	text-transform: capitalize;

}
.courses .top_hr,.classes .top_hr,.courses_page .top_hr{
    width: 15%;
    border: 1.5px solid #f8951d;
    margin-bottom: 50px;
}
.classes img,.classes{
	
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.classes .pragraph{
	display: inline-block;
    height: auto;    
	vertical-align: middle;

}
.classes .cources_price {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0;
    background: 0 0;
    box-shadow: none;
    font-size: 20px;
    font-weight: 700;
    color: #203675;
    margin-bottom: 10px;
}
.classes .cources_price .less_offer {
    margin-left: 8px;
    font-size: 13px;
    opacity: .5;
    text-decoration: line-through;}
.classes .part_img{
        width: 200px;
    height: 180px;
    margin: 0;
    border-radius: .4rem;
    overflow: hidden;
}
.classes p{
        margin-bottom: 0px;

}
.classes .part_img img{
        width: 100%;
    align-items: center;
    object-fit: cover;
    height: 100%;
}
.classes .pragraph{
	padding-left: 20px;
}
.classes ul{
    list-style: none;
    padding: 0px;
    margin-top: 10px;
    color: #4a5874
}
.classes .info_teatcher{
    float: left;
    display: inline-block;
}
.classes .info_lecture{
    float: right;
    display: inline-block;
}
.classes .info_teatcher li{
    display: inline-block;
    vertical-align: middle;
}

.classes .info_teatcher li img{
        max-width: 35px;
    height: 35px;
    border-radius: 50%; 
}

.classes  .part{
	text-align: left;
    vertical-align: middle;
    height: auto;    
    position: relative;
    width: 70%;
    align-items: center;
    display: flex;
    align-items: center;
    border: 1px solid #e8ebf1;
    background: #fff;
    border-radius: .4rem;
    margin: auto;
    margin-bottom: 30px;
    padding: 1rem;
}
.classes   .foot_lecture{
    background: rgba(30,173,107,.13);
    color: #1ead6b;
    padding: 6px 15px;
    font-size: 13px;
    border-radius: 50px;
}
.classes  h4{
    font-size: 25px;
    font-weight: bold;}
.classes .p1,.classes .p2,.classes .p3{
	    margin: 0px;
}
.classes .p2{font-weight: bold;}
.classes span{
	color: #f8951d;
}
.classes .sallary {
    display: inline-block;
    float: right;
    padding: 5%;
    font-size: 17px;
    padding-right: 15px;
}
.classes .sallary p{
	 color: red;
    font-weight: bold;
}
.classes .sallary .delete{
   color: #aaa;
	text-decoration-line: line-through;
}
/**********************start testing*******************/
.testing{
	background: url(../images/background1.jpg) no-repeat center center fixed;
    background-size: cover;
}.testing .test_english ,
.testing h2{
    display: block;
    width: 100%;
	font-size: 40px;
}
.testing .test_english button{
	font-size: 20px;
    padding: 10px 30px;
    margin-top: 15px;
    background: white;
    color: #020e19;
}
.testing .test_english button:hover{
	background: #f8951d;
    color: white;
}
/**********************start instructors*******************/

.instructors .part{
    width: 100%;
    height: 300px;
    background: #aaa;   
	margin-bottom: 20px;

}

.instructors .scrollitem .col-item
{
  border:0px;
  text-align:center;
}
.instructors .item ,.instructors .scrollBox
{
  margin-top:10px;
}

.instructors .scrollBox .btn
{
  background:#f8951d;
  border:#f8951d;
  margin-right:3px;
}

.instructors .scrollBox .btn:hover
{
  background:#042f54b8;
	color: white;
}

.instructors .pull-right{
	width: 300px;
    text-align: left;
    margin: 10px 0px;
    font-size: 21px;
}
.instructors .price{
   position: absolute;
    bottom: 0px;
    text-align: left;
    width: 94%;
    height: 100%;
    background: #3085a35c;
    margin: 0px 10px;
}
.instructors .price{
color: white;
}
.instructors .price:hover h5{
    top: 27%;
}
.instructors .price:hover p{
    top: 45%;
		opacity: 1;
}
.instructors .photo{
    width: 100%;   
	height: 100%;
}
.instructors .photo img{
    height: 300px;
    width: 350px;}
.instructors .photo img:hover{
    box-shadow: 1px 1px 7px;

}
.instructors .price h5{
	    z-index: 999;
}
.instructors .price h5,.instructors .price p{
	position: sticky;
    text-align: center;
    transition: 1s;
    top: 150%;
    left: 30%;
	font-size: 20px;    
	background: #f8951d;
    padding: 10px;
}
.instructors .price p{
	font-size: 18px;
	opacity: 0;
}

.instructors .draggable{
        padding: 0px 60px;
    width: 90%;
}   

.instructors .draggable img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}   
.instructors .top_hr{
    margin-bottom: 50px;
}
.instructors .slick-slide{
    border:5px solid #f9f9f9;
}

.instructors .instructor_wrap{
  padding: 45px 0px;
    width: 100%;
    position: relative;
    display: table;
    border-radius: .3rem;
    background: #fff;
    box-shadow: 0 2px 10px rgb(0 22 84 / 10%);
    text-align: center;
    padding: 3em 1rem;
    margin-bottom: 30px;
}
.instructors .slick-next{
   right: 20px;
}
.instructors .slick-prev{
   left: 5px;
}
/******************************start footer******************/
footer{
    background: url(../images/map.jpg) no-repeat center center fixed;
    background-size: cover;
	width: 100%;
	padding: 0px;
	overflow-x: hidden;
}
footer .logo{
    width: 200px;
    object-fit: cover;   
	padding-left: 5%;

}
footer .items{
	    padding: 50px 75px;
    color: white;
}
footer .items ul{
    list-style-type: none;

    padding:0px;
    padding-bottom: 20px;
}
footer .items ul li{
    font-size: 18px;
    line-height: 1.8;
}
footer .items ul li a{
	color: white;
	
}

/***********************courses_page******************/
.courses_page {
    margin: 10px 0px;
    padding-top: 7%;
    text-align: center;
    overflow-x: hidden;
}
.courses_page .cont_div{
    width: 95%;
    margin: auto;
}
.courses_page h1{
	 font-size: 52px;
	font-weight: 900;
	text-transform: capitalize;
}
.courses_page .row_top p{
	color: #647b9c;
    font-size: 18px;
	float: left;
	padding-top: 10px;
}
.courses_page .row_top .ul_filtter{
	list-style-type: none;
	float: right;
	margin-bottom: 20px;
}
.courses_page .row_top  .ul_filtter li{
display: inline-block;
}
.courses_page .row_top{
    width: 98%;
    margin: auto;
	padding-top: 50px;
}
.courses_page .row_top .a_button{
	background: #f8951d;
    color: white;
    padding: 10px 20px;
    font-size: 19px;
}
.courses_page .row_top .a_button:focus{
	border: 0px;    
	color: #37648c;
}
.courses_page .row_top .a_button:hover{
    color: #37648c;
	border: 0px;
}
.courses_page .row_top .dropdown{
	height: 47px;
    vertical-align: middle;
    width: 187px;
    background: #fff;
    border: 2px solid #e6ebf1;
    border-radius: 4px;
    color: #647b9c!important;
	display: none;
}
.courses_page .row_top .dropdown button{
	background: white;
    color: #37648c;
    width: 100%;
    height: 100%;
}
.courses_page .row_top  .dropdown-item{
	    color: #37648c;  
	font-size: 17px;

}
.courses_page .row_top .dropdown .dropdown-menu{
    min-width: 184px;
}
.courses_page .row_top .dropdown button:hover{
	background:white;
}

.courses_page .row_bottom >div .pragraph,
.courses .row_bottom >div .pragraph{
	padding: 1px 0px;
}
.courses_page  .pragraph p,
.courses  .pragraph p{
	color: #7d7d7d;
}
.courses_page  .pragraph h4,
.courses_page  .pragraph p,
.courses  .pragraph h4,
.courses  .pragraph p{
	padding-left: 10px;
}

.courses_page .part,
.courses .part{
	    margin-bottom: 50px;
	position: relative;
}

.courses_page .part ul,
.courses .part ul{
	list-style: none;
		display: inline-block;
	    padding-left: 15px;
width: 49%;

}
.courses_page .part ul li a, 
.courses .part ul li a{   
color: #386b96fa;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
}
.courses_page .part ul li a:hover,
.courses .part ul li a:hover{    color: #f8951d;}
.courses_page .part ul li,
.courses .part ul li{
	display: inline-block;
}
.courses_page .part .ul_profile img,
.courses .part .ul_profile img{
    width: 50px;
    object-fit: contain;
    border-radius: 100%;

}
.courses_page .part  .ul_clock,
.courses .part  .ul_clock{
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    color: #808fa0;}
.courses_page .row_bottom button i,
.courses .row_bottom button i{color:#37648c;font-size: 18px;}
.courses_page .row_bottom button,
.courses .row_bottom button{
	    margin-top: 0px;
	    margin-bottom:30px;

}
.courses_page .part .education_ratting,
.courses .part .education_ratting{
    position: absolute;
    top: 15px;
    background: white;
    border-top-right-radius: 10px;
    font-size: 16px;
    left: 0;
    padding: 8px 15px;
    border-radius: 0 50px 50px 0;
    color: #515a6b;
    font-weight: 600;
}
.courses_page .part .education_ratting span,
.courses .part .education_ratting span{
       margin-right: 6px;
    color: #ff9800;
    vertical-align: sub;
    font-size: 13px;}

/********left nav******/

.fillter_nav .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    border-right: 1px solid #aaa;
    box-shadow: 0px 0px 1px #aaa;
}

.fillter_nav .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.fillter_nav .sidenav a:hover {
  color: #f1f1f1;
}

.fillter_nav .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .fillter_nav .sidenav {padding-top: 15px;}
  .fillter_nav .sidenav a {font-size: 18px;}
}
.fillter_nav p{
	    flex: 1;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
.fillter_nav .sidenav{
    padding-top: 50px;
}
.fillter_nav form{
	padding-top: 20px;
    position: relative;
}

.fillter_nav form .search {
    font-size: 17px;
    border: 1px solid #aaa;
    height: 38px;
    border-radius: 10px;
    width: 91%;
    padding-left: 10px;
}
.fillter_nav form .search_button{
    background: transparent;
    border: 0px;
    position: absolute;
    top: 30px;
    right: 36px;
}
.fillter_nav form h4{
    line-height: 26px;
    font-size: 21px;
	    color: #2d3954;
    font-weight: 600;
    text-transform: capitalize;
    font-family: Poppins,sans-serif;
}
.fillter_nav form ul{
	list-style-type: none;
	padding-left: 0px;
}

.fillter_nav form ul li{  
	color: #647b9c;
    font-size: 17px;
    font-family: Muli,sans-serif;
    font-weight: 400;
    line-height: 2;
}
.fillter_nav form ul li label{
       font-weight: 100; 

}
.fillter_nav form .checkbox-custom+.checkbox-custom-label:before{
	    content: '';
    background: #fff;
    border: 2px solid #d8dfe6;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
	.fillter_nav form .checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.fillter_nav .sidenav::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.fillter_nav .sidenav{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/****************scrollTop**************/
#scrollToTop {
	display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 70px;
    right: 40px;
    background-color: #042f54b8;
    border-radius: 100%;
    cursor: pointer;
    z-index: 10;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;  
	
}
#scrollToTop:hover {
		background-color: #ffb130;
	border: 1px solid rgb(62 62 62);
	}
/***************************course_detiles*****************/
.course_detiles header{
    height: 350px;
	margin-top: 5%;
}
.course_detiles header img{
    height: 100%;
	width: 100%;
}
.course_detiles .div_title{
	      position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    background: #042f5487;
    color: white;
    padding-top: 6%;
    padding-left: 30px;
}
.course_detiles header ul{
	list-style: none;
}
.course_detiles header ul li{
    display: inline-block;
    background: #042f54b8;
    padding: 10px;
    margin-right:30px;
    position: relative;
}
.course_detiles header p{padding-left: 45px;width: 50%;}
.course_detiles header h1{
	font-size: 30px;
    padding-left: 45px;
    font-weight: 900;
}
.course_detiles header ul li:before {
    border-top: 20px solid transparent;
    border-left: 19px solid #042f54b8;
    border-bottom: 20px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
    right: -19px;
}
.course_detiles header ul li:after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 4px;
    position: absolute;    
	top: 18px;
    right: -12px;
    width: 4px;
}
/************************course_detiles***********************/
.course_detiles .sec_detiles_course .sec_detiles_course_left {
	
}
.course_detiles .sec_detiles_course .sec_detiles_course_left h2{
	line-height: 36px;
    font-weight: 600;
}
.course_detiles .sec_detiles_course  ul{
	list-style: none;
    color: #647b9c;
}
.course_detiles .sec_detiles_course .sec_detiles_course_left ul li{
    display: inline-block;
}
.course_detiles .sec_detiles_course .sec_detiles_course_left .info_ul{
	    display: inline-block;    
	padding-left: 0px;

}
.course_detiles .sec_detiles_course .sec_detiles_course_left .info_ul li{
	    padding-right: 20px;
    font-size: 15px;
    font-weight: 100;
}
.course_detiles .sec_detiles_course .sec_detiles_course_left .buy_ul{
	    display: inline-block;
    float: right;
}
.course_detiles .sec_detiles_course .sec_detiles_course_left .buy_ul li{
       font-size: 25px;
    font-weight: 700;
    padding-right: 10px;
    margin-top: -15px;
}

.course_detiles .sec_detiles_course .sec_detiles_course_left .buy_ul li a{  
	background: #f8951d;
    color: white;
    padding: 10px;
    font-size: 19px;
}
.course_detiles .sec_detiles_course .sec_detiles_course_left .img_div,
#div_img_2 .img_div{
	
    padding-top: 20px;

}
.course_detiles .sec_detiles_course .sec_detiles_course_left img{
	
}
.course_detiles .sec_detiles_course .sec_detiles_course_left .categorie_ul{
	    padding: 0px;
}
.course_detiles .sec_detiles_course .sec_detiles_course_left .categorie_ul li{
	padding-top: 20px;
    padding-right: 15px;
}
.course_detiles .sec_detiles_course .sec_detiles_course_left .categorie_ul li a{
	background: white;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
}
.course_detiles .sec_detiles_course .sec_detiles_course_left .categorie_ul li a:hover{
	background: #f8951d;
	color: white;
}

.course_detiles .sec_detiles_course .sec_detiles_course_left .categorie_ul li .active{
    background: #f8951d;
    color: white;
}
.course_detiles   .property_video {
    position: relative;
    padding: 0px;}
.course_detiles   .property_video:before {
    background: #17203a;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    content: "";
    bottom: 0;
    opacity: .5;
    border-radius: 1rem;
}
.course_detiles  .property_video .thumb {
    border-radius: 1rem;
    overflow: hidden;
}
.course_detiles .sec_detiles_course   .property_video .thumb .pro_img {
        width: 100%;
    height: 400px;
    border-radius: 1rem;
}
#div_img_2 .property_video .thumb .pro_img{
    height: 300px;
    border-radius: 0rem;
}
.course_detiles .sec_detiles_course   .property_video .bb-video-box {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #fff;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.course_detiles .sec_detiles_course  .bb-video-box-inner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.sec_detiles_course .edu_wraper, .lessons,.single_instructor{
	width: 100%;
    padding: 4rem;
    background: #fff;
    border-radius: .5rem;
    margin-bottom: 30px;
    margin-top: 30px;
}
.sec_detiles_course .edu_wraper h4, .lessons h3{
    margin-bottom: 1rem;
    font-size: 20px;
    color: #2d3954;
    font-weight: 600;
    text-transform: capitalize;
    font-family: Poppins,sans-serif;
        margin-bottom: 25px;


}
.sec_detiles_course .edu_wraper p{
  color:#647b9c;    
	line-height: 1.8;


}
.sec_detiles_course .edu_wraper h6{
    line-height: 20px;
    font-size: 16px;
	    color: #2d3954;
    font-weight: 600;
    text-transform: capitalize;
    font-family: Poppins,sans-serif;
}
.sec_detiles_course .edu_wraper .lists-3 li {
	    list-style: none;
    margin: 1px 0 14px;
    line-height: 27px;
    margin-left: 22px;
    position: relative;    
	font-size: 17px;

}
.sec_detiles_course .edu_wraper .lists-3 li:before {
    content: "\2713";
    font-size: 13px;    
	font-family: themify;
    margin: 0;
    position: relative;
    color: #66676b;
    float: left;
    margin-left: -22px;
    display: block;
}
.sec_detiles_course .edu_wraper2 p{
	text-transform: capitalize;  
	font-size: 17px;

}
.sec_detiles_course .ed_view_box {
        background: white;
    border-radius: 15px;
    margin-top: 50px ;
	padding-bottom: 50px;
    margin-bottom: 30px;
}
.sec_detiles_course .ed_view_box img{
	    width: 100%;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.sec_detiles_course  .style_2 .ed_author_box{padding-left: 10px;}
.sec_detiles_course  .style_2 .ed_view_link{
	    width: 60%;
    margin: auto;
}
.sec_detiles_course .style_2 .ed_view_link a{
	    background: #f8951d;
    color: white;
    width: 100%;
    margin: auto;
    font-size: 20px;   
	border-radius: 30px;
	padding: 10px;
}
.sec_detiles_course .style_2 .ed_view_link a i{
    padding-left: 10px;
}
.sec_detiles_course .style_2  h4,.sec_detiles_course .style_2 span{

    color: #647b9c;
    font-size: 15px;
}
.sec_detiles_course .style_2 span{
	    margin: 10px 0px;
    display: block;
	    letter-spacing: 1px;

}
.sec_detiles_course .style_2 .ed_view_features span {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    color: #485067;
}
.sec_detiles_course .style_2 .ed_view_features ul{
	display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
	padding: 0px;
}
.sec_detiles_course .style_2 .ed_view_features ul li {
      margin-bottom: 15px;
    margin-top: 5px;
    font-size: 14px;
    width: 50%;
    color: #647b9c;
}
.sec_detiles_course .style_2 .ed_view_features ul li i{
    margin-right: 10px;
    border-radius: 100%;
    border: 1px solid;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.4;
    background: #e9eef9;
    color: #707fab;
    font-size: 12px;
}
.sec_detiles_course .style_2  .theme-cl{
    font-size: 30px;
    font-weight: 700;}
#div_img_2   .theme-cl{
        font-size: 16px;
}
.sec_detiles_course .style_2  .ed_view_features{
  font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    color: #485067;
}

.sec_detiles_course .style_2  
/**********************/

.lessons .panel-heading {
  padding: 0;
    border:0;
}
.lessons  .panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
  color:white;
  font-size:16px;
  font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
  word-spacing:3px;
    text-decoration:none;
}
.lessons  .panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.lessons .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
} 
.lessons {
 background-color: white;   
  padding: 20px 30px;

}
.panel-default>.panel-heading{
	    background-color: #042f54a3;
}
.lessons .lectures_lists div{
	display: inline-block;
}
.lessons .lectures_lists_title{
	    color: #2f77b5b8;
    margin-right: 20px;
}
.lessons .lectures_lists_title i{
	    padding-right: 10px;
}
.lessons .lectures_lists li{
    padding: 17px 0px;
    font-size: 17px;
    border-bottom: 1px solid #aaa6;
	
}
.single_instructor .single_instructor_thumb {
    width: 230px;
    height: 230px;
    border-radius: 4px;
    overflow: hidden;
		display: inline-block;

}
.single_instructor img{
     max-width: 100%;
    border-radius: 4px;	
	height: 100%;
}
.single_instructor  .single_instructor_caption {
   padding-left: 2rem;
    flex: 1;
    display: inline-block;
    width: 65%;
    vertical-align: top;
}
.single_instructor  .single_instructor_caption h4 {
    margin-bottom: 8px;    
	font-size: 28px;

}

.single_instructor  .single_instructor_caption h4 a{
    color: #4a5682;
}
.single_instructor  ul.instructor_info li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 13px;
}
.single_instructor .single_instructor_caption ul{
	padding: 0px;
}
.single_instructor .single_instructor_caption ul li i{
     padding-right: 5px;
}
.single_instructor .single_instructor_caption p{
	    margin: 0 0 10px;
    color: #647b9c;
    line-height: 1.6;
    font-size: 16px;
    margin-top: 20px;
}
.single_instructor .single_instructor_caption ul.social_info li{
    display: inline-block;
    margin-right: 15px;
}
.single_instructor .single_instructor_caption ul.social_info li a {
     width: 36px;
    height: 36px;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbe2ef;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    padding-left: 5px;}
.single_instructor .single_instructor_caption ul.social_info li a:hover {
    color: #da0b4e;
}
.lessons,.instructor{
	display: none;
}
/***********************profile******************/
.profile .body_profile{
	padding-top: 100px;
	text-transform: capitalize;
}
.profile .body_profile .profile_items{
	position: relative;
    width: 100%;
    padding: 2em;
    background: #1b2132;
    box-shadow: 0 1px 4px 0 #252c41;
    border-radius: 0 0 .2rem .2rem;
	color: white;
	
}

.profile .body_profile .profile_items .d-user-avater{
	text-align: center;
}
.profile .body_profile .profile_items .d-user-avater img{
	max-width: 120px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.profile .body_profile .profile_items .d-user-avater h4{
margin: 10px 0 3px 0;
    color: #fff;
    font-size: 17px;
}
.profile .body_profile .profile_items .d-user-avater span{
  color: #647b9c;
	font-size: 16px;
}
.profile .body_profile .itemul_profile {
  list-style: none;  
	padding: 35px 0px;

}
.profile .body_profile .itemul_profile  li a{
 padding: 3px 0;
    color: #77829e;
    font-size: 14px;
    border-radius: .3rem;
    padding: 14px 15px;
    display: inline-block;    
	text-decoration: none;
}
.profile .body_profile .itemul_profile  li a:hover{
    color: #f8951d;
}
.profile .body_profile .itemul_profile  li a i{
     margin-right: 10px;

}
.body_profile .div_up {
	margin-bottom: 50px;
}
.body_profile .viewer_detail_thumb{
	width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin-right: 1rem;
}
.body_profile .viewer_detail_wraps {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.body_profile .caption {
    flex: 1;
    padding-left: 1rem;   
	padding: 20px;

}
.body_profile .viewer_detail_thumb img {
    border-radius: 50%;
    max-width: 100%;
}

.body_profile .viewer_status {
    position: absolute;
    right: 10px;
    bottom: 5px;
    background: #4caf50;
    padding: 0 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    border-radius: 50px;
    color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.body_profile .caption .viewer_package_status {
	    display: inline-block;
    margin-bottom: 5px;
    padding: 3px 12px;
    background: rgba(218,11,78,.2);
    color: #da0b4e;
    border-radius: 2px;
    font-size: 12px;
}
.body_profile .caption h4{
	      margin: 0;
    font-weight: 400;
    font-size: 17px;
}

.body_profile .dashboard_container_body{
    background: #fff;
    border-radius: .4rem;
    padding: 0;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 9%);
    position: relative;
    display: block;
    margin-bottom: 30px;
    width: 100%;    
}
.body_profile form .form-control{    
	height: 54px;
    border-radius: 4px;
    font-size: 15px;
    box-shadow: none;
    padding: .5rem .75rem;
    border: 1px solid #e6eaf3;
    background-clip: initial
}

.classes_page{
    margin-top: 0px;
}
.classes_page .part{
    margin-left: 0px;
}